[package]
name = "compose_yml"
version = "0.0.50"
authors = ["Eric Kidd <git@randomhacks.net>"]

description = "Parse, manipulate and serialize docker-compose.yml in a strongly-typed fashion"
documentation = "http://docs.rs/compose_yml"
license = "CC0-1.0"
readme = "README.md"
repository = "https://github.com/emk/compose_yml"

[dependencies]
clippy = { version = "0.*", optional = true }
error-chain = "0.5"
lazy_static = "1.0"
log = "0.3"
regex = "0.2"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
# See https://github.com/kbknapp/clap-rs/issues/747 before upgrading to
# serde_yaml 0.5.x.
serde_yaml = "0.7"
yaml-rust = "0.4"
url = "1.2"
valico = "1.0"
void = "1.0"
